#logo {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}



#intro {
    max-width: 1000px;
    width: 80%;
    margin: 2% auto;
    color: #545454;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1.5px;
}

#image_default {
    float: left;
    margin: 0px;
    max-width: 1457px;
    max-height:300px;
    width:120%;
    height:80%;
}

#navigation {
    background-color: #a4640c;
    overflow: hidden;
  }


.social_icons {
    max-width: 30px;
    width: 80%;
    margin: 0% auto;
    padding: 20px 3px;
}

.navigation_links {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }


.outer_form {
    max-width: 1000px;
    width: 80%;
    margin: 2% auto auto auto;
    padding: 20px 20px 20px 200px;
    color: #545454;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    border: 6px outset #a4640c;
    border-radius: 5px;




}
.inner_form_fields {
    margin: auto auto;
    width: 400px;
    height: 20px;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    color: #a4640c;
    text-align:right


}

.button {
    width: 250px;
    background-color: #a4640c;
    color: #545454;
    padding: 15px 32px 15px 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}




body {
    background-color: #dfded9;
}

hr {
  display: block;
  margin: 0.7em 0.7em auto auto;
  border-width: 1px;
  border-style: outset;

}

footer {
    margin: 2% auto;
    text-align: center;
    align-content: center;
    font-size: 12px;
    font-weight: bolder;
    position: relative;
    bottom: 0;
    width: 100%; 
    height: 0rem;
    padding: 0px;
}


.title1 {
    color: #545454;
    text-align: left;
    margin: 2% auto;
    max-width: 1000px;
    width: 80%;
  }

.titleform {
    color: #545454;
    text-align: left;
    margin: 2% auto;
    max-width: 1000px;
    width: 80%;
    padding: 0px 250px 5px 0px;
}

.pic1 {
    float: left;
    margin: 0px;
    max-width: 1457px;
    max-height:300px;
    width:120%;
    height:80%;
}

.title2 {
    color: #545454;
    text-align: left;
    margin: 2% auto;
    max-width: 1000px;
    width: 80%;
}

.button1 {
    width: 100px;
    background-color: #a4640c;
    color: #545454;
    padding: 15px 15px 15px 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: #545454;
}

.container {
    display: flex;
    margin: auto;
    width: 80vw;
    padding: 2% 10%;
    box-sizing: border-box;
    height: 80vh;
    background-color: #dfded9;
  }
  
.box {
    flex: 1;
    overflow: hidden;
    transition: 1.1s;
    margin: 1% 1% 5% 5%;
    box-shadow: 0 20px 30px #545454;
    line-height: 0;
    background-color: #a4640c;
  }
  
.box > img {
    width: 97%;
    height: 97%;
    object-fit: cover; 
    transition: 3s;
  }
  
.box > span {
    font-size: 16px;
    font-weight: bold;
    color:#545454;
    display: block;
    text-align: center;
    height: 8vh;
    line-height: 2.6;
  }
  
.box:hover { flex: 1 1 30%; }
.box:hover > img {
    width: 90%;
    height: 90%;
  }
   