#logo {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

#social_icons0 {
    max-width: 40px;
    text-align: center;
    width: 80%;
    margin: 0% auto;
    padding: 10px 3px;
}

#social_icons1 {
    max-width: 40px;
    text-align: center;
    width: 80%;
    margin: 0% auto;
    padding: 10px 3px;
}

#social_icons2 {
    max-width: 40px;
    text-align: center;
    width: 80%;
    margin: 0% auto;
    padding: 10px 3px;
}

#social_icons3 {
    max-width: 40px;
    text-align: center;
    width: 80%;
    margin: 0% auto;
    padding: 10px 3px;
}

#social_icons4 {
    max-width: 40px;
    text-align: center;
    width: 80%;
    margin: 0% auto;
    padding: 10px 3px;
}

#intro {
    max-width: 1000px;
    width: 80%;
    margin: 2% auto;
    color: #545454;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1.5px;
}

#image_default {
    float: left;
    margin: 30px;
    max-width: 300px;
    max-height:400px;
    width:80%;
    height:80%;
}

#navigation {
    background-color: #a4640c;
    overflow: hidden;
  }

#navigation_links0 {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

#navigation_links1 {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

#navigation_links2 {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

#navigation_links3 {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

#navigation_links4 {
    float: left;
    color: #545454;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
 

body {
    background-color: #dfded9;
}

footer {
    display: block;
    text-align: center;
    font-size: 11px;
    position: relative;
    bottom: 0;
    width: 100%; 
    height: 0rem;
    margin: 100px;
    padding: 0px;
}

h1 {
    color: #545454;
    text-align: left;
    margin: 2% auto;
    max-width: 1000px;
    width: 80%;
  }